<form method="POST">
    <div class="input-group">
        <input type="text" class="form-control input-lg" id="new-todo" name="new-todo" autocomplete="off" autofocus placeholder="What needs to be done?">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        </span>
    </div>
</form>
