<div class="header clearfix">
	<nav>
	  <ul class="nav nav-pills pull-right">
		<li role="presentation"><a href="{{ urlFor('home') }}">Home</a></li>
		<li role="presentation"><a href="{{ urlFor('resources') }}">Resources</a></li>
		<li role="presentation"><a href="{{ urlFor('about') }}">About</a></li>
	  </ul>
	</nav>
	<a href="{{ urlFor('home') }}"><h3 class="text-muted">DoiT.today</h3></a>
</div>
