{% extends 'layouts/main.twig' %}

{% block title %}
About do IT today project
{% endblock title %}

{% block contents %}
<p><strong><a href="http://beit.today">Beit.today</a></strong> is conference dedicated to Mobile, Database and Web technologies.</p>
<strong>Doit.Today</strong> project has been created by <a href="http://gzeki.com">Gyuner Zeki</a> and <a href="https://github.com/kachar">Ilko Kacharov</a> - software engineers at <strong><a href="http://proxiad.com">Proxiad</a></strong>.<br />
<br />

Project sources can be found at: <a href="https://github.com/kachar/doit.today/">GitHub</a>

{% endblock contents %}
