{% extends 'layouts/main.twig' %}

{% block contents %}
<p>Some info about the authors</p>

Link to the git repository: <a href="https://github.com/kachar/doit.today/">https://github.com/kachar/doit.today/</a>
{% endblock contents %}
