{% extends 'layouts/main.twig' %}

{% block title %}
About do IT today project
{% endblock title %}

{% block contents %}
<p><strong><a href="http://beit.today">Beit.today</a></strong> is conference dedicated for Mobile, Database and Web technologies.</p>
This project was realized by <strong><a href="http://proxiad.com">Proxiad</a></strong> software engineers <a href="http://gzeki.com">Gyuner Zeki</a> and <a href="https://github.com/kachar">Ilko Kacharov</a>.<br />
<br />

Checkout this project from <a href="https://github.com/kachar/doit.today/">GitHub</a>

{% endblock contents %}
