{% extends 'layouts/main.twig' %}

{% block title %}
About do IT today project
{% endblock title %}

{% block contents %}
<p>Some info about the authors and beit.today conference</p>

Link to the git repository: <a href="https://github.com/kachar/doit.today/">https://github.com/kachar/doit.today/</a>
{% endblock contents %}
