{% extends 'layouts/main.twig' %}

{% block title %}
Resources used in the project
{% endblock title %}

{% block contents %}
    <div class="list-group col-md-6 col-md-push-3 text-center">
        <div class="list-group-item"><a href="https://github.com/kachar/doit.today/" target="_blank">DoIt.Today GitHub project</a></div>
        <br/>
        <div class="list-group-item"><a href="http://slimframework.com/" target="_blank">Slim Framework</a></div>
        <div class="list-group-item"><a href="http://twig.sensiolabs.org/" target="_blank">Twig template engine</a></div>
        <div class="list-group-item"><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></div>
        <div class="list-group-item"><a href="http://www.notorm.com/" target="_blank">Not ORM</a></div>
        <div class="list-group-item"><a href="https://github.com/flatlogic/awesome-bootstrap-checkbox" target="_blank">Awesome Bootstrap Checkbox</a></div>
        <div class="list-group-item"><a href="http://fontawesome.io/" target="_blank">Font Awesome</a></div>
    </div>
{% endblock contents %}
